.section-standings {
    margin-bottom: 30px;
}

.numeric {
    text-align: center;
}

.section-stats {
    margin-bottom: 30px;
}

.stats-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.stat-card {
    background-color: var(--secondary-bg);
    border: 1px solid var(--chat-border-color);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80px;
}

.stat-card h4 {
    font-size: 0.8em;
    color: var(--highlight-color);
    margin-bottom: 5px;
    text-transform: uppercase;
}

.stat-card p {
    font-size: 0.9em;
    color: var(--text-color);
}

.section-players {
    margin-bottom: 20px;
}

.players-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 15px;
}

.player-card {
    background-color: var(--secondary-bg);
    border: 1px solid var(--chat-border-color);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 2px solid var(--highlight-color);
}

.player-card h4 {
    font-size: 1em;
    margin-bottom: 5px;
    color: var(--text-color);
}

.player-team {
    font-size: 0.8em;
    color: #AAA;
    margin-bottom: 10px;
}

.player-stars {
    color: var(--star-empty);
    font-size: 1.1em;
}

.player-stars .filled {
    color: var(--star-filled);
}

@media (min-width: 768px) {
    .home-content {
        display: grid;
        align-items: start;
        grid-template-columns: 2fr 1fr;
        gap: 30px;
        padding: 30px;
    }

    .section-standings {
        grid-column: 1 / 2;
        margin-bottom: 0;
    }

    .section-stats {
        grid-column: 2 / 3;
        margin-bottom: 0;
    }

    .section-players {
        grid-column: 1 / 3;
        margin-top: 30px;
        min-height: 300px;
    }

    .table-container {
        overflow-x: hidden;
    }

    .players-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

@media (min-width: 1024px) {
    .players-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}